<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopee</title>
    <link rel="icon" href="/assets/img/logo/background.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/fonts/fontawesome-free-5.12.1-web/css/all.min.css" />
</head>
<body>
    <!-- main -->
    <div class="app">
        <!-- header -->
        <header class="header">
            <div class="grid wide">
                <!-- navbar -->
                <nav class="header__navbar hide-on-mobile-tablet">
                </nav>
                <!-- search -->
                <div class="header__contain">
                    <label for="mobile-search" class="header__mobile-search">
                        <i class="header__mobile-search-icon fas fa-search"></i>
                    </label>
                    <div class="header__logo">
                        <a href="#" class="header__logo-link">
                            <img src="/assets/img/logo/background.png" class="header__logo-img">
                        </a>
                    </div>
                    <input type="checkbox" id="mobile-search" class="header__search-check" hidden>
                    <div class="header__search">
                        <div class="header__search-input-wrap">
                            <input type="text" class="header__search-input" placeholder="Tìm kiếm trên AFA">

                        </div>
                        <button class="btn header__search-btn">
                            <i class="header__search-btn-icon fas fa-search"></i>
                        </button>
                    </div>
                    <!-- header__cart--no-cart -->
                    <!-- header__cart--has-cart -->
                    <div class="header__cart header__cart--has-cart">
                    </div>
                </div>
            </div>
            <ul class="header__sort-bar">
                <li class="header__sort-item">
                    <a href="#" class="header__sort-link">Liên quan</a>
                </li>
                <li class="header__sort-item header__sort-item--active">
                    <a href="#" class="header__sort-link">Mới nhất</a>
                </li>
                <li class="header__sort-item">
                    <a href="#" class="header__sort-link">Bán chạy</a>
                </li>
                <li class="header__sort-item">
                    <a href="#" class="header__sort-link">Giá</a>
                </li>
            </ul>
        </header>
        <div class="container " style="padding-top: 0;">
            <div class="grid wide bg-white">
                <div class="product-page">
                    <!-- Slider -->
                    <div class="product-slider">
                        <img id="main-image" src="/assets/img/MEDILINE/1ec66fc7bbeab31e38052722b4c63e6b_tn (1) - Copy.webp" alt="Main Product">
                        <div style="position: relative;">
                            <div class="styleFont-angle-left noAcctive-category" id="angle-left">
                                <i class="pagination-item__icon fas fa-angle-left"></i>
                            </div>
                            <div class="styleFont-angle-right" id="angle-right">
                                <i class="pagination-item__icon fas fa-angle-right"></i>
                            </div>
                            <div class="thumbnail-container">
                                <img class="thumbnail" src="/assets/img/MEDILINE/1ec66fc7bbeab31e38052722b4c63e6b_tn - Copy.webp" alt="Thumbnail 2">
                                <img class="thumbnail" src="/assets/img/MEDILINE/1ec66fc7bbeab31e38052722b4c63e6b_tn (1).webp" alt="Thumbnail 3">
                                <img class="thumbnail" src="/assets/img/MEDILINE/vn-11134207-7r98o-ly9iq6ug5ew1ba_tn.webp" alt="Thumbnail 3">
                                <img class="thumbnail" src="/assets/img/MEDILINE/vn-11134207-7r98o-ly0bi9pxtqsbdb_tn.webp" alt="Thumbnail 3">
                                <img class="thumbnail" src="/assets/img/MEDILINE/vn-11134207-7r98o-lowc52a8h4y6c8_tn.webp" alt="Thumbnail 3">
                                <img class="thumbnail" src="/assets/img/MEDILINE/c2c2c72cef6a0192089c7b4e511fbe3b_tn.webp" alt="Thumbnail 3">
                                <img class="thumbnail" src="/assets/img/MEDILINE/c2c2c72cef6a0192089c7b4e511fbe3b_tn.webp" alt="Thumbnail 3">
                                <img class="thumbnail" src="/assets/img/MEDILINE/81dac45c0b732d793fd1c5efac358ff2_tn.webp" alt="Thumbnail 3">
                                <img class="thumbnail" src="/assets/img/MEDILINE/sg-11134201-22100-2k7sk58yk4ivc3_tn.webp" alt="Thumbnail 3">
                            </div>
                        </div>
                    </div>

                    <!-- Product Info -->
                    <div class="product-info">

                        <h1>
                            <span style="font-size: 1.3rem; background-color: #EE4D2D; color: #fff; padding: 3px; border-radius: 5px;">Yêu thích </span> ⚡️ Giá sốc ⚡️ Thắt lưng nam da cao cấp khóa kim loại tự động không gỉ - Cam kết 1 đổi 1 bảo hành 12
                            tháng
                        </h1>
                        <div class="box-rating">
                            <span style="border-bottom: 1px solid #333; padding-bottom: 2px;">4.5</span>:
                            <span class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>|
                            <span style="color: #767676;
                            font-size: 1.375rem;
                            text-transform: capitalize;">(29.3k đánh giá)</span>
                        </div>
                        <p class="price">
                            <span class="current-price">1.000.000₫</span>
                            <span class="original-price">10.000.000₫</span>
                            <span class="discount">-90%</span>
                        </p>

                        @*  <div class="box-transport">
                        <span class="text-transport">Vận chuyển</span>
                        <span class="desc-transport"> <i class="fa-solid fa-car" style="color: #41B5A6;"></i> Nhận hàng 17 Th12 - 18 Th12, phí giao ₫0</span>
                        </div>
                        <div class="box-transport">
                        <span class="text-transport">An tâm mua <br> sắm cùng <br> Shopee</span>
                        <span class="desc-antam"> <i class="fa-solid fa-car" style="color: #41B5A6;"></i> Trả hàng miễn phí 15 ngày · Bảo hiểm Thời trang</span>
                        </div> *@
                        <!-- Quantity and Actions -->
                        <div class="actions">
                            <div class="quantity">
                                <label for="quantity">Số Lượng</label>
                                <div class="quantity-controls">
                                    <button class="btn-decrease">-</button>
                                    <input type="number" id="quantity" value="1" min="1" disabled>
                                    <button class="btn-increase">+</button>
                                </div>
                            </div>

                            <div class="action-buttons">
                                <button class="add-to-cart"><i class="fa-solid fa-cart-shopping"></i> Liên Hệ Người Bán</button>
                                @*    <button class="buy-now">Mua ngay</button> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer class="footer">
        </footer>
    </div>


    <!-- script js -->
    <script src="/assets/js/detailproduct.js"></script>
</body>

</html>