        <!--Menu Sidebar-->
<div class="fixed-sidebar left">
    <div class="menu-left">
        <ul class="left-menu ps-container ps-theme-default" data-ps-id="19722989-04c1-bf4b-400f-abe7105d9b0a">
            <li>
                <a class="menu-small" href="#" title="">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </li>
            <li>
                <a href="timeline-friends.html" title="" data-toggle="tooltip" data-placement="right"
                   data-original-title="Friends">
                    <i class="fa-regular fa-user"></i>
                </a>
            </li>
            <li>
                <a href="chat-messenger.html" title="" data-toggle="tooltip" data-placement="right"
                   data-original-title="Messages">
                    <i class="fa-regular fa-message"></i>
                </a>
            </li>
            <li>
                <a href="notifications.html" title="" data-toggle="tooltip" data-placement="right"
                   data-original-title="Notification">
                    <i class="fa-regular fa-bell"></i><!-- <i class="fa-regular fa-bell"></i> -->
                </a>
            </li>
            <li>
                <a href="support-and-help.html" title="" data-toggle="tooltip" data-placement="right"
                   data-original-title="Help">
                    <i class="fa-regular fa-circle-question"></i><!-- <i class="fa-regular fa-square-question"></i> -->
                </a>
            </li>
            <li>
                <a href="faq.html" title="" data-toggle="tooltip" data-placement="right"
                   data-original-title="Faq's">
                    <i class="fa-regular fa-circle-question"></i><!-- <i class="fa-regular fa-lightbulb-on"></i> -->
                </a>
            </li>
            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </ul>
    </div>
</div>
<!--Menu Sidebar-->
