
@{
    ViewData["Title"] = "Index";
}

<div class="gap2 no-gap gray-bg">
    <div class="container-fluid no-padding">
        <div class="row">
            <div class="col-lg-12">
                <div class="message-users">
                    <div class="message-head">
                        <h4>Tin Nhắn</h4>

                    </div>
                    <div class="message-people-srch">
                        <form method="post">
                            <input type="text" placeholder="Search Friend..">
                            <button type="submit"><i class="fa-regular fa-magnifying-glass"></i></button>
                        </form>
                        <div class="btn-group add-group" role="group">
                            <button id="btnGroupDrop2" type="button" class="btn group dropdown-toggle user-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                <a class="dropdown-item" href="#">Online</a>
                                <a class="dropdown-item" href="#">Away</a>
                                <a class="dropdown-item" href="#">unread</a>
                                <a class="dropdown-item" href="#">archive</a>
                            </div>
                        </div>
                        <div class="btn-group add-group align-right" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn group dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Create+
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">New user</a>
                                <a class="dropdown-item" href="#">New Group +</a>
                                <a class="dropdown-item" href="#">Private Chat +</a>
                            </div>
                        </div>
                    </div>
                    <div class="mesg-peple">
                        <ul class="nav nav-tabs nav-tabs--vertical msg-pepl-list">
                            <li class="nav-item unread">
                                <a class="active" href="#link1" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Phuoc2.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="">[DATN-SV] - PTPM.NET</h6>
                                        <span>Phước có điều này tao cần nói vs mày</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="active" href="#link2" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/PC07025.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="unread">Phan Hữu Hiệu</h6>
                                        <span>Còn bao nhiêu task đưa hết cho tôi</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a class="" href="#link3" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/kha.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="unread">Trần Minh Khá</h6>
                                        <span>Phước có điều này tao cần nói vs mày</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item unread">
                                <a class="active" href="#link4" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Hau.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-offline"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="unread">Dương Minh Hậu</h6>
                                        <span>Thần Bài Việt Nam</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item unread ">
                                <a class="" href="#link5" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Duymai2.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="unread">Mai Huỳnh Anh Duy</h6>
                                        <span>Tôi là Trader số 1 Việt Nam</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a class="" href="#link6" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Hau.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-offline"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="unread">Sarah Jane</h6>
                                        <span>she send a video - a days ago</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a class="" href="#link7" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Hau.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="">Julie Robert</h6>
                                        <span>She send a file - 22 jan</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item unread ">
                                <a class="" href="#link8" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Hau.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-away"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="unread">Frank Will</h6>
                                        <span>You there ? - a days ago</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a class="" href="#link9" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Hau.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-online"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="unread">Niclos Cage</h6>
                                        <span>you send a video - wed</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="nav-item ">
                                <a class="" href="#link10" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Hau.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                        <span class="status f-offline"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="">kelly Quin</h6>
                                        <span>Hi dude.. - 23 feb</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="" href="#link10" data-toggle="tab">
                                    <figure>
                                        <img src="~/images/resources/Hau.jpg" alt="">
                                        <span class="status f-offline"></span>
                                    </figure>
                                    <div class="user-name">
                                        <h6 class="">kelly Quin</h6>
                                        <span>Hi dude.. - 23 feb</span>
                                    </div>
                                    <div class="more">
                                        <div class="more-post-optns">
                                            <i class="ti-more-alt"></i>
                                            <ul>
                                                <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                                <li><i class="ti-trash"></i>Delete</li>
                                                <li><i class="fa fa-folder-open-o"></i>Archive</li>
                                                <li><i class="fa fa-ban"></i>Block</li>
                                                <li><i class="fa fa-eye-slash"></i>Ignore Message</li>
                                                <li><i class="fa fa-envelope"></i>Mark Unread</li>

                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content messenger">
                    <div class="tab-pane active fade show " id="link1">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/Phuoc2.jpg" alt="Avatar" class="rounded-circle avatar-img">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">[DATN-SV] - PTPM.NET</h6>
                                            <span>Online</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li class="audio-call"><span class="fa fa-phone"></span></li>
                                        <li class="video-call"><span class="fa fa-video"></span></li>
                                        <li class="uzr-info"><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div class="mesge-area">
                                    <ul class="conversations">
                                        <li>
                                            <figure><img src="~/images/resources/kha.jpg" alt="Avatar" class="rounded-circle avatar3-img"></figure>
                                            <div class="text-box">
                                                <p>HI, i have faced a problem with your software. are you available now</p>
                                                <span><i class="ti-check"></i><i class="ti-check"></i> 2:32PM</span>
                                            </div>
                                        </li>
                                        <li class="me">
                                            <figure><img src="~/images/resources/Phuoc2.jpg" alt="Avatar" class="rounded-circle avatar3-img"></figure>
                                            <div class="text-box">
                                                <p>HI, i have checked about your query, there is no any problem like that...</p>
                                                <span><i class="ti-check"></i><i class="ti-check"></i> 2:35PM</span>
                                            </div>
                                        </li>
                                        <li class="you">
                                            <figure><img src="~/images/resources/PC07025.jpg" alt="Avatar" class="rounded-circle avatar3-img"></figure>
                                            <div class="text-box">
                                                <p>
                                                    thank you for your quick reply, i am sending you a screenshot
                                                    <img src="~/images/resources/screenshot-messenger.jpg" alt="">
                                                    <em>Size: 106kb <ins>download Complete</ins></em>
                                                </p>
                                                <span><i class="ti-check"></i><i class="ti-check"></i> 2:36PM</span>
                                            </div>
                                        </li>
                                        <li class="me">
                                            <figure><img src="~/images/resources/user2.jpg" alt=""></figure>
                                            <div class="text-box">
                                                <p>Yes, i have to see, please follow the below link.. <a href="#" title="">https://www.abc.com</a></p>
                                                <span><i class="ti-check"></i><i class="ti-check"></i> 2:38PM</span>
                                            </div>
                                        </li>
                                        <li class="me">
                                            <figure><img src="~/images/resources/user2.jpg" alt=""></figure>
                                            <div class="text-box">
                                                <p>
                                                    Dear You May again download the package directly..
                                                    <span><ins>File.txt</ins> <i class="fa fa-file"></i> 30MB download complete</span>
                                                </p>
                                                <span><i class="ti-check"></i><i class="ti-check"></i> 2:40PM</span>
                                            </div>
                                        </li>
                                        <li class="you">
                                            <figure><img src="~/images/resources/user1.jpg" alt=""></figure>
                                            <div class="text-box">
                                                <div class="wave">
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/Phuoc2.jpg" alt="Avatar" class="rounded-circle avatar2-img"></figure>
                                    <h6>[DATN-SV] - PTPM.NET</h6>

                                    <div class="userabout">
                                        <div class="icon-group">
                                            <button type="button" class="icon-button">
                                                <span class="material-icons">person</span>
                                                <div class="icon-text">Trang cá nhân</div>
                                            </button>
                                            <button type="button" class="icon-button">
                                                <span class="material-icons">notifications</span>
                                                <div class="icon-text">Tắt thông báo</div>
                                            </button>
                                            <button type="button" class="icon-button">
                                                <span class="material-icons">search</span>
                                                <div class="icon-text">Tìm kiếm</div>
                                            </button>
                                        </div>
                                    </div>


                                </div>
                                <div class="select-menu">
                                    <div class="select-btn">
                                        <span class="sBtn-text">File phương tiện & file</span>
                                        <i class="bx bx-chevron-down"></i>
                                    </div>
                                    <ul class="options">
                                        <li class="option">
                                            <i class="bx bxl-github" style="color: #171515;"></i>
                                            <span class="option-text">File phương tiện</span>
                                        </li>
                                        <li class="option">
                                            <i class="bx bxl-instagram-alt" style="color: #E1306C;"></i>
                                            <span class="option-text">File</span>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="link2">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/PC07025.jpg" alt="">
                                            <span class="status f-away"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Phan Hữu Hiệu</h6>
                                            <span>Away</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/PC07025.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Phan Hữu Hiệu</h6>
                                    <span>Active a days ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="link3">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/kha.jpg" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Trần Minh Khá</h6>
                                            <span>Online</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li><span class="fa fa-phone"></span></li>
                                        <li><span class="fa fa-video"></span></li>
                                        <li><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/kha.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Trần Minh Khá</h6>
                                    <span>Active one hours ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="link4">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/Hau.jpg" alt="">
                                            <span class="status f-offline"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Dương Minh Hậu</h6>
                                            <span>Offline</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li><span class="fa fa-phone"></span></li>
                                        <li><span class="fa fa-video"></span></li>
                                        <li><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/Hau.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Dương Minh Hậu</h6>
                                    <span>Active 5 hours ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="link5">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/Hau.jpg" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Dương Minh Hậu</h6>
                                            <span>Online</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li><span class="fa fa-phone"></span></li>
                                        <li><span class="fa fa-video"></span></li>
                                        <li><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/Duymai2.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Mai Huỳnh Anh Duy</h6>
                                    <span>Active 2 hours ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="link6">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/Duymai2.jpg" alt="">
                                            <span class="status f-offline"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Mai Huỳnh Anh Duy</h6>
                                            <span>Offline</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li><span class="fa fa-phone"></span></li>
                                        <li><span class="fa fa-video"></span></li>
                                        <li><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/chatuser5.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Sarah Jane</h6>
                                    <span>Active 2 hours ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="link7">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/friend-avatar8.jpg" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Julie Robert</h6>
                                            <span>Online</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li><span class="fa fa-phone"></span></li>
                                        <li><span class="fa fa-video"></span></li>
                                        <li><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/chatuser6.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Julie Robert</h6>
                                    <span>Active 2 days ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="link8">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/friend-avatar6.jpg" alt="">
                                            <span class="status f-away"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Frank Will</h6>
                                            <span>Away</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li><span class="fa fa-phone"></span></li>
                                        <li><span class="fa fa-video"></span></li>
                                        <li><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/chatuser4.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Frank Will</h6>
                                    <span>Active 2 months ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="link9">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/friend-avatar9.jpg" alt="">
                                            <span class="status f-online"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Niclos Cage</h6>
                                            <span>Online</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li><span class="fa fa-phone"></span></li>
                                        <li><span class="fa fa-video"></span></li>
                                        <li><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>
                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/chatuser8.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Niclos Cage</h6>
                                    <span>Active 10 hours ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="link10">
                        <div class="row merged">
                            <div class="col-lg-12">
                                <div class="mesg-area-head">
                                    <div class="active-user">
                                        <figure>
                                            <img src="~/images/resources/friend-avatar8.jpg" alt="">
                                            <span class="status f-offline"></span>
                                        </figure>
                                        <div>
                                            <h6 class="unread">Kelly Quin</h6>
                                            <span>Offline</span>
                                        </div>
                                    </div>
                                    <ul class="live-calls">
                                        <li><span class="fa fa-phone"></span></li>
                                        <li><span class="fa fa-video"></span></li>
                                        <li><span class="fa fa-info-circle"></span></li>
                                        <li>
                                            <div class="dropdown">
                                                <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="ti-view-grid"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item audio-call" href="#"><i class="ti-headphone-alt"></i>Voice Call</a>
                                                    <a href="#" class="dropdown-item video-call"><i class="ti-video-camera"></i>Video Call</a>
                                                    <hr>
                                                    <a href="#" class="dropdown-item"><i class="ti-server"></i>Clear History</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-hand-stop"></i>Block Contact</a>
                                                    <a href="#" class="dropdown-item"><i class="ti-trash"></i>Delete Contact</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="mesge-area conversations">
                                    <div class="empty-chat">
                                        <div class="no-messages">
                                            <i class="ti-comments"></i>
                                            <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="message-writing-box">
                                    <form method="post">
                                        <div class="text-area">
                                            <input type="text" placeholder="write your message here..">
                                            <button type="submit"><i class="fa fa-paper-plane-o"></i></button>
                                        </div>

                                        <div class="attach-file">
                                            <label class="fileContainer">
                                                <i class="ti-clip"></i>
                                                <input type="file">
                                            </label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="chater-info">
                                    <figure><img src="~/images/resources/Hau.jpg" class="rounded-circle avatar2-img"></figure>
                                    <h6>Kelly Quin</h6>
                                    <span>Active 10 hours ago</span>
                                    <div class="userabout">
                                        <span>About</span>
                                        <p>I love reading, traveling and discovering new things. You need to be happy in life.</p>
                                        <ul>
                                            <li><span>Phone:</span> +123976980</li>
                                            <li><span>Website:</span> <a href="#" title="">www.abc.com</a></li>
                                            <li><span>Email:</span> sample@gmail.com</li>
                                            <li><span>Phone:</span> Ontario, Canada</li>
                                        </ul>
                                        <div class="media">
                                            <span>Media</span>
                                            <ul>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user5.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user6.jpg" alt=""></li>
                                                <li><img src="~/images/resources/admin2.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user1.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user4.jpg" alt=""></li>
                                                <li><img src="~/images/resources/audio-user3.jpg" alt=""></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

